body {
  background-image: url('../images/landing-page-background.png');
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

.rounded-logo {
  border-radius: 10px; 
  display: block;
  margin: 20px auto;
  max-width: 20px;
  height: auto;
}

.wrapper {
  min-height: 20vh;
  background-color: #fef9c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #111827;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.registerBtn {
  background-color: #16a34a;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.registerBtn:hover {
  background-color: #15803d;
}

.loginBtn {
  background-color: #2563eb;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #1e40af;
}
